<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAaJIVfUbDLo9qiCWRLhsvuAZLD2F216Lk</string>
	<key>GCM_SENDER_ID</key>
	<string>164572726504</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.turktoplum.tt</string>
	<key>PROJECT_ID</key>
	<string>turktoplum-6ca59</string>
	<key>STORAGE_BUCKET</key>
	<string>turktoplum-6ca59.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:164572726504:ios:1682d032d2660593c8b55d</string>
	<key>DATABASE_URL</key>
	<string>https://turktoplum-6ca59-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>
